.tchmi-k-means-svg {
    display: block;
}

.tchmi-k-means-svg-line-coordinate-system {
    stroke-width: 3px;
    stroke-linecap: round;
    fill: none;
    stroke-linejoin: round;
}

.tchmi-k-means-svg-line-coordinate-system-ellipse {
    fill: none;
    stroke-width: 2px;
}

.tchmi-k-means-result-text {
    display: block;
    font-size: 14px;
    padding-left: 10px;
    float: left;
    position: relative;
    width: 100%;
    font-weight: bold;
    top: 0;
}
