.tchmi-average-chart-invalid-configuration {
}

.tchmi-average-chart-svg {
    padding-left: 15px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-weight: bold;
}

.tchmi-average-chart-svg-chart {
    stroke-width: 5px;
    stroke-linecap: round;
}

.tchmi-average-chart-svg-text {
    font-size: 14px;
}

.tchmi-average-chart-text-group-container {
    height: 200px;
    width: 100%;
    float: left;
}

.tchmi-average-chart-text-group {
    margin-left: 1em;
    font-size: 1em;
}

.tchmi-average-chart-text-group-alias-values {
    font-weight: bold;
    float: left;
    position: relative;
    z-index: 2;
}

.tchmi-average-chart-text-group-values {
    font-weight: bold;
    float: left;
    position: relative;
    z-index: 2;
}

.tchmi-average-chart-actual-value-alias {
    margin-top: 1em;
}

.tchmi-average-chart-actual-value {
    margin-top: 1em;
}

.tchmi-average-chart-last-events {
    display: block;
    font-size: 0.8em;
    float: left;
    position: relative;
    width: 100%;
}

.tchmi-average-chart-last-max {
    margin-bottom: 1em;
}


