.tchmi-analytics-user-permission-popup-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.tchmi-analytics-user-permission-popup-window {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-left: 50px;
    margin: auto;
    min-height: 180px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tchmi-analytics-user-permission-popup {
    width: 800px;
    float: left;
    height: 285px;
    background: white;
}

.tchmi-analytics-user-permission-popup-dark {
    background: gray !important;
}

.tchmi-analytics-user-permissions-popup-header {
    height: 34px;
    width: 100%;
    background: lightgray;
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.tchmi-analytics-user-permissions-popup-header-label {
    float: left;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    flex-shrink: 0;
}

.tchmi-analytics-user-permission-popup-close-button {
    float: right;
    height: 25px;
    min-width: 25px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    border-radius: 0px;
    color: black;
    font-size: 15px;
    padding-left: 6px;
    padding-top: 4px;
}

.tchmi-analytics-user-permissions-popup-container {
    height: 250px;
}

.tchmi-analytics-user-permission-popup-usergroups {
    width: 235px;
    height: 250px;
    float: left;
}

.tchmi-analytics-user-permission-popup-usergroups-label {
    height: 10%;
    float: left;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    flex-shrink: 0;
}

.tchmi-analytics-user-permission-popup-usergroups-label-dark {
    color: white;
}

.tchmi-analytics-user-permission-popup-usergroups-container {
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

.tchmi-analytics-user-permission-popup-usergroups-entry-wrapper {
    height: 30px;
}

    .tchmi-analytics-user-permission-popup-usergroups-entry-wrapper:hover {
        background: lightgray;
        cursor: pointer;
    }

.tchmi-analytics-user-permission-popup-usergroups-entry {
    font-size: 14px;
    margin-left: 25px;
    padding: 5px;
    font-weight: normal;
}
.tchmi-analytics-user-permission-popup-usergroups-entry-dark {
    color: white;
}

.tchmi-analytics-user-permission-popup-usergroups-entry-selected {
    font-weight: bold;
}

.tchmi-analytics-user-permission-popup-permissions {
    float: left;
    width: 560px;
    height: 250px;
    border-left: lightgray;
    border-left-style: solid;
    border-left-width: 1px;
}

.tchmi-analytics-user-permission-popup-permissions-selector {
    width: 100%;
    height: 30px;
}

.tchmi-analytics-user-permission-popup-permissions-selector-entry {
    float: left;
    font-size: 15px;
    margin-left: 15px;
    font-weight: normal;
    flex-shrink: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tchmi-analytics-user-permission-popup-permissions-selector-entry-dark {
    color:white !important;
}

    .tchmi-analytics-user-permission-popup-permissions-selector-entry:first-child {
        font-weight: bold;
    }

.tchmi-analytics-user-permission-popup-permissions-label {
    height: 0px;
    float: left;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    flex-shrink: 0;
}

.tchmi-analytics-user-permission-popup-permissions-container {
    width: 100%;
    height: 70%;
    max-height: 200px;
    overflow-y: auto;
    align-items: center;
}

.tchmi-analytics-user-permission-popup-permissions-entry {
    padding-left: 20px;
    margin: 10px;
}

.tchmi-analytics-user-permission-popup-permission-label {
    position: relative;
    float: left;
    width: 150px;
    font-size: 14px;
    padding: 5px;
    font-weight: normal;
    height: 30px;
}

.tchmi-analytics-user-permission-popup-permission-select {
    width: 150px;
    font-size: 14px;
    margin-left: 155px;
    padding: 5px;
    font-weight: normal;
    cursor: pointer;
    height: 30px;
    position: relative;
}

.tchmi-analytics-user-permission-popup-permissions-menu-container {
    width: 100%;
    height: 15%;
}

.tchmi-analytics-user-permission-popup-permissions-menu {
    width: 175px;
    height: 30px;
    float: left;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.tchmi-analytics-user-permission-popup > tbody > tr {
    height: 26px;
}
