.tchmi-oee-template > .tchmi-analytics-control-template-container {
    flex-direction: row;
    padding: 15px;
}

.tchmi-oee-grid-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
}

.tchmi-oee-template multi-value {
    margin-left: 25px;
}