.tchmi-histogram-multi-svg {
    position: relative;
   
    padding-left: 5px;
    margin-top: 5px;
}


.tchmi-histogram-multi-svg-line-coordinate-system {
    stroke-width: 3px;
    stroke-linecap: round;
    fill: none;
    stroke-linejoin: round;
}

.tchmi-histogram-multi-svg-bin-rect {
    stroke-width: 0px;
}

.tchmi-histogram-multi-svg-bin-rect-stroke {
    stroke-width: 1px;
}

.tchmi-histogram-multi-svg-value {
    text-anchor: middle;
    text-align: center;
}

.tchmi-histogram-multi-svg-label {
    text-align: center;
}

.tchmi-histogram-multi-y-axis-label {
    text-align: center;
    font-weight: bold;
}

.tchmi-histogram-multi-svg-legend-rect {
    stroke-width: 1px;
}

.tchmi-histogram-multi-svg-legend-text{
    text-anchor:start;
    font-size:14px;
    font-weight:bold;
}

.tchmi-histogram-multi-unit-button {
    float: left;
    width: 32px;
    height: 18px;
    border: none;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid rgba(64,64,64,0);
    border-radius: 2px;
}