.tchmi-edge-counter-on-off-container {
    border: none;
    width: 130px;
    height: 85px;
}

.tchmi-edge-counter-outer-container {
    height: 130px;
    width: 100%;
    float: left;
} 

.tchmi-edge-counter-state {
    border: none;
    display: block;
    margin: auto;
    position: absolute;
    background-color: grey;
    -webkit-box-align: center;
    align-items: center; /* Vertikale Zentrierung */
    text-align: center;
    justify-content: center; /* Horizontale Zentrierung */
   
    font-weight: bold;
    margin-top: 10px;
    padding-top: 3px;
    color: #999999;
    border: 2px solid #666666;
}

.tchmi-edge-counter-on-state {
    font-size: 14px;
    width: 60px;
    height: 20px;
    left: 10px;
    -webkit-box-align: center;
    align-items: center; /* Vertikale Zentrierung */
    text-align: center;
    justify-content: center; /* Horizontale Zentrierung */
}

.tchmi-edge-counter-off-state {
    font-size: 12px;
    width: 45px;
    height: 15px;
    left: 1020px;
    justify-content: center; /* Horizontale Zentrierung */
    margin-top: 15px;
}

.tchmi-edge-counter-value {
    border: none;
    display: block;
    position: absolute;
    margin: auto;
    -webkit-box-align: center;
    align-items: center; /* Vertikale Zentrierung */
    text-align: center;
    justify-content: center; /* Horizontale Zentrierung */ 
    margin-top: 30px;
    font-weight: bold;
}

.tchmi-edge-counter-on-value {
    font-size: 30px;
    width: 75px;
    height: 40px;
    left: 10px;
}

.tchmi-edge-counter-off-value {
    font-size: 20px;
    width: 60px;
    height: 40px;
    left: 113px;
    margin-top: 40px;
}

.tchmi-edge-counter-last-event {
    font-size: 12px;
    display: block;
   
    float: left;
    position: relative;
    width: 100%;
    padding-left: 5px;
}
