.tchmi-integrator-svg {
    width: 100%;
    float: left;
}

.tchmi-integrator-coordinate-system{
    stroke-width:2px;
    stroke-linejoin:round;
    fill:none;
}

.tchmi-integrator-coordinate-system-text{
    text-align:center;
    text-anchor:middle;
    font-size:14px;
    font-weight:bold;
}

.tchmi-integrator-y-axis-label-text {
    text-anchor: end;
}

.tchmi-integrator-lines{
    stroke-width:1px;
}

.tchmi-integrator-line-graph{
    fill:none;
}

.tchmi-integrator-graph-points {
    stroke:none;
}