.tchmi-timer-svg {
    stroke-width: 2;
    stroke-linecap: round;
    transform: rotate(-90deg);
    align-self: center;
}

.tchmi-timer-circle-outer {
    stroke-width: 3;
    stroke-linecap: round;
    fill:none;
}

.tchmi-timer-circle-inner {
    stroke-width: 2;
    stroke-linecap: round;
}

.tchmi-timer-time {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.tchmi-timer-text {
    font-size: 8px;
    font-weight: bold;
    overflow: hidden;
    transform: rotate(90deg);
    align-items: center;
    text-anchor: middle;
}

    .tchmi-timer-text > text:nth-child(1) {
        transform:translate(69px, -79px) ;
    }

    .tchmi-timer-text > text:nth-child(2) {
        transform: translate(81px, -66px);
    }

    .tchmi-timer-text > text:nth-child(3) {
        transform: translate(87px, -47px);
    }

    .tchmi-timer-text > text:nth-child(4) {
        transform: translate(82px, -27px);
    }

    .tchmi-timer-text > text:nth-child(5) {
        transform: translate(68px, -15px);
    }

    .tchmi-timer-text > text:nth-child(6) {
        transform: translate(50px, -10px);
    }

    .tchmi-timer-text > text:nth-child(7) {
        transform: translate(32px, -15px);
    }

    .tchmi-timer-text > text:nth-child(8) {
        transform: translate(17px, -27px);
    }

    .tchmi-timer-text > text:nth-child(9) {
        transform: translate(12px, -47px);
    }

    .tchmi-timer-text > text:nth-child(10) {
        transform: translate(17px, -66px);
    }

    .tchmi-timer-text > text:nth-child(11) {
        transform: translate(32px, -79px);
    }

    .tchmi-timer-text > text:nth-child(12) {
        transform: translate(50px, -85px);
    }
.tchmi-marks {
    transform: translate(50px, 50px);
    stroke-width: 1;
}

    .tchmi-marks > line:nth-child(1) {
        transform: rotate(30deg);
    }

    .tchmi-marks > line:nth-child(2) {
        transform: rotate(calc(2 * 30deg));
    }

    .tchmi-marks > line:nth-child(3) {
        transform: rotate(calc(3 * 30deg));
        stroke-width: 2;
    }

    .tchmi-marks > line:nth-child(4) {
        transform: rotate(calc(4 * 30deg));
    }

    .tchmi-marks > line:nth-child(5) {
        transform: rotate(calc(5 * 30deg));
    }

    .tchmi-marks > line:nth-child(6) {
        transform: rotate(calc(6 * 30deg));
        stroke-width: 2;
    }

    .tchmi-marks > line:nth-child(7) {
        transform: rotate(calc(7 * 30deg));
    }

    .tchmi-marks > line:nth-child(8) {
        transform: rotate(calc(8 * 30deg));
    }

    .tchmi-marks > line:nth-child(9) {
        transform: rotate(calc(9 * 30deg));
        stroke-width: 2;
    }

    .tchmi-marks > line:nth-child(10) {
        transform: rotate(calc(10 * 30deg));
    }

    .tchmi-marks > line:nth-child(11) {
        transform: rotate(calc(11 * 30deg));
    }

    .tchmi-marks > line:nth-child(12) {
        transform: rotate(calc(12 * 30deg));
        stroke-width: 2;
    }

.tchmi-seconds,
.tchmi-minute,
.tchmi-hour {
    transform: translate(50px, 50px) rotate(0deg);
}

.tchmi-seconds {
    stroke-width: 1;
}

.tchmi-minute {
    stroke-width: 2;
}

.tchmi-hour {
    stroke-width: 3;
}

.tchmi-pin {
    stroke-width: 3;
}

.tchmi-circle-section{
    stroke:none;
}
