.tchmi-productivity-diagnosis-svg {
    float: left;
    display: block;
    margin-top: 5px;
    margin-left: 0px;
}

.tchmi-productivity-diagnosis-stroke-circle-outer {
    stroke-width: 2px;
}

.tchmi-productivity-diagnosis-outer-circle {
    fill: #ffffff;
    stroke-width: 2px;
}
.tchmi-productivity-diagnosis-productivity-circle {
    stroke: #3b5e9e;
    fill:none;
    stroke-width:20px;
}

.tchmi-productivity-diagnosis-last-productivity-circle {
    stroke: #acacac;
    fill: none;
    stroke-width: 20px;
}

.tchmi-productivity-diagnosis-text {
    font-size: 16px;
    text-align: center;
    text-anchor: middle;
    font-weight: bold;
}

.tchmi-productivity-diagnosis-stroke-circle {
    stroke: #666666;
    stroke-width: 2px;
}

.tchmi-productivity-diagnosis-legend-rect-prod-last {
    stroke: #666666;
    fill: #acacac;
    stroke-width: 2px;
}

.tchmi-productivity-diagnosis-legend-rect-prod {
    stroke: #666666;
    fill: #3b5e9e;
    stroke-width: 2px;
}

.tchmi-productivity-diagnosis-legend-text {
    font-size: 18px;
    font-weight: bold;
    text-anchor: start;
    text-align:center;
    fill: #666666;
    overflow:hidden;
}