.tchmi-ds-overview-v2-template {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.tchmi-ds-overview-v2-template > .tchmi-analytics-control-template-container {
    padding: 0px;
}

.tchmi-ds-overview-v2-template * {
    box-sizing: border-box;
}

.tchmi-ds-overview-v2-template h2 {
    margin: 0 0 20px 0;
}

.tchmi-ds-overview-v2-wrong-config {
    display: none; /* Will be visible on wrong configuration */
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-style: oblique;
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tchmi-ds-overview-v2-configurations-area {
    overflow-y: auto;
    min-height: 200px;
    background-color: white;
    width: 200px;
    position: relative;
    float: left;
    height: 100%;
    margin-bottom: 0px;
    --configuration-area-width: 200px;
    width: var(--configuration-area-width, 200px);
    min-width: var(--configuration-area-width, 200px);
}

.tchmi-ds-overview-v2-configurations-area.tchmi-ds-overview-v2-mobile {
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    min-width: 100%;
}

.tchmi-ds-overview-v2-configurations-area.tchmi-ds-overview-v2-mobile.tchmi-ds-overview-v2-minimized {
    height: 0px;
}

.tchmi-ds-overview-v2-configurations-area.tchmi-ds-overview-v2-minimized {
    width: 0;
    min-width: 0;
    min-height: 0px;
    background-color: transparent !important;
}

.tchmi-ds-overview-v2-configuration-box {
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tchmi-ds-overview-v2-configuration-box > hr {
    margin: 0;
}

.tchmi-ds-overview-v2-configuration {
    background-color: #cccccc;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    border-left: 4px solid rgba(180, 180, 180, 0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tchmi-ds-overview-v2-configuration:hover {
    color: #3b5e9e;
}

/* Selected Configuration */
.tchmi-ds-overview-v2-configuration-selected {
    opacity: 1;
    border-left: 4px solid #3b5e9e;
}

/* Currently Active Configuration */
.tchmi-ds-overview-v2-configuration-active {
    font-weight: bold !important;
    text-decoration: underline;
}

.tchmi-ds-overview-v2-content {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y:auto;
}


.tchmi-ds-overview-v2-main-content {
    display: flex;
    flex-flow: column nowrap;
    float: right;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    position: relative;
}

.tchmi-ds-overview-v2-main-container {
    position: relative;
    background-color: #fff;
    padding: 10px;
    min-height: 80px
}

.tchmi-ds-overview-v2-record-buttons {
    position: absolute;
    bottom: 10px;
}

.tchmi-ds-overview-v2-record-button {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 60%);
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    margin-right: 10px;
    float: left;
    width: 60px;
    height: 18px;
    transition-duration: 0.2s;
    transition-property: transform;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.tchmi-ds-overview-v2-record-button:active {
    box-shadow: 0 1px rgb(0 0 0 / 60%);
    transform: translateY(2px);
}

.tchmi-ds-overview-v2-record-button-start {
    background-image: url("Images/Play.png");
}

.tchmi-ds-overview-v2-record-button-start-starting {
    background-image: none !important;
}

.tchmi-ds-overview-v2-record-button > loader-icon {
    visibility: collapse;
    padding-top: 1px;
}

.tchmi-ds-overview-v2-record-button-start-starting > loader-icon {
    visibility: visible;
}

.tchmi-ds-overview-v2-record-button-start-active {
    background-color: #00a000 !important;
    background-image: url("Images/Pause.png");
}

.tchmi-ds-overview-v2-record-button-cancel {
    background-image: url("Images/Stop.png");
}

.tchmi-ds-overview-v2-record-button-disabled {
    opacity: 0.5;
    cursor: default;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6) !important;
    transform: none !important;
}

.tchmi-ds-overview-v2-analysis-state-text {
    float: left;
    min-width: 100px;
    text-align: center;
    font-size: 1.3em;
    margin-top: -2px;
}

/*------ ADDED CSS ---------*/

.tchmi-ds-overview-v2-hist {
    color: white;
    position: absolute;
    transform: translate(-25%,-50%);
    top: 50%;
    left: 40%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}


/*** Historical Data ***/

.tchmi-ds-overview-v2-historical-data {
    align-items: stretch;
    background-color: white;
    margin-top: 10px;
    min-height: max(270px, calc(100% - 90px));
    overflow-y: auto;
}

.tchmi-ds-overview-v2-activate-changes {
    height: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    width: 90px;
    transition-duration: 0.4s;
    text-align: center;
    font-size: 14px;
    padding-top: 1px;
    cursor: pointer;
    opacity: 1;
    
}

.tchmi-ds-overview-v2-activate-changes:active:not(.tchmi-ds-overview-v2-disabled) {
    box-shadow: 0 1px rgba(0,0,0,0.6);
    transform: translateY(2px);
}

.tchmi-ds-overview-v2-activate-changes:not(.tchmi-ds-overview-v2-disabled) {
    color: rgba(59,94,158, 1) !important;
    box-shadow: 0px 0px 15px 0px rgba(59,94,158, 0.6);
}

.tchmi-ds-overview-v2-disabled {
    animation: none;
    opacity: 0.6;
    cursor: default;
}

.tchmi-ds-overview-v2-maximize, .tchmi-ds-overview-v2-minimize {
    stroke: #222;
    overflow: visible;
    position: absolute;
    right: 5px;
    top: 5px;
    transition-duration: 0.4s;
}

.tchmi-ds-overview-v2-maximize:hover, .tchmi-ds-overview-v2-minimize:hover {
    stroke: rgba(59,94,158, 1);
    cursor: pointer;
}


.tchmi-ds-overview-v2-maximize {
    opacity: 0;
}

.tchmi-ds-overview-v2-minimize {
    opacity: 1;
}

.tchmi-ds-overview-v2-minmaximize-trans {
    transition-duration: 0s;
}

.tchmi-ds-overview-v2-not-activated {
    font-style: italic;
}

.tchmi-ds-overview-v2-not-activated::after {
    content:"*";
}

.tchmi-ds-overview-v2-selected-configuration-global {
	z-index: 2;
    position: fixed;
    bottom: 1px;
    right: 5px;
    -webkit-transition: 2s;
    transition: 2s;
    font-size:small;
}

.tchmi-ds-overview-v2-refresh-records-container {
    position: absolute;
    left: 9px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.tchmi-ds-overview-v2-refresh-records {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url("Images/refresh_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.tchmi-ds-overview-v2-refresh-records-dark-theme {
    background-image: url("Images/refresh_white.svg");
}

.tchmi-ds-overview-v2-refresh-records:hover {
    background-image: url("Images/refresh_hover.svg");
}