.tchmi-productivity-interval-svg {
    float: left;
    display: block;
    margin-top: 5px;
    margin-left: 0px;
}
.tchmi-productivity-interval-elapsed-circle {
    stroke-width: 0;
}

.tchmi-productivity-interval-remaining-circle {
    stroke-width: 0;
}

.tchmi-productivity-whole-circle {
    stroke-width: 3;
}

.tchmi-productivity-interval-needle {
    fill: none;
    stroke-width: 4;
    stroke-linecap :round;
}

.tchmi-productivity-interval-elapsed-pieces {
    stroke-width: 0;
}

.tchmi-productivity-interval-remaining-pieces {
    stroke-width: 0;
}

.tchmi-productivity-interval-outer-rect {
    stroke-width: 2;
}

.tchmi-productivity-interval-legend-rect-elapsed {
    stroke: #666666;
    fill: #acacac;
    stroke-width: 2px;
}

.tchmi-productivity-interval-legend-rect-remaining {
    stroke: #666666;
    fill: #3b5e9e;
    stroke-width: 2px;
}

.tchmi-productivity-interval-text {
    font-weight: bold;
    text-anchor: start;
    text-align: center;
    fill: #666666;
    overflow: hidden;
    font-size:12px;
}

.tchmi-productivity-interval-legend-text-remaining {
    font-size: 18px !important;
}

.tchmi-productivity-interval-legend-text-elapsed {
    font-size: 18px !important;
}

.tchmi-productivity-interval-pieces-text {
    font-size: 25px !important;
}

