.tchmi-wind-turbulence-svg {
    position: relative;
    display: block;
    float: left;
}

.tchmi-wind-turbulence-svg-windmill{
    stroke-width:1.5px;
}

.tchmi-wind-turbulence-svg-wind {
    stroke-width: 2px;
}

.tchmi-wind-turbulence-svg-text{
    font-size:14px;
    font-weight:bold;
    text-anchor:start;
}