.tchmi-process-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.tchmi-process-text-properties {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    font-weight: bold;
}

.tchmi-process-svg {
}

.tchmi-process-svg-elapsed-circle{
    stroke-width:0;
}

.tchmi-process-svg-remaining-circle {
    stroke-width: 2;
} 

.tchmi-process-text-calculation-percentage-container {
    position: relative;
    float: left;
}

.tchmi-process-text-calculation-percentage {
    text-shadow: #666666 -3px 3px 3px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    width: 40%;
}

.tchmi-process-chart-percentage {
    border-radius: 25px;
}

.tchmi-process-design-line {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 2px solid #666666;
    height: 70px;
}

.tchmi-process-text-group-values {
    position: relative;
    float: left;
    margin-left: 5px;
}

.tchmi-process-text-group-alias-values {
    position: relative;
    float: left;
    font-weight: bold;
}

.tchmi-process-text-group-properties {
    float: left;
    display:table-cell;
    font-weight: bold;
}

.tchmi-process-group-block {
    display:table-cell;
}
