.tchmi-moving-interval-canvas-container {
    width: 100%;
    float: left;
}

.tchmi-moving-interval-svg {
}

.tchmi-moving-interval-svg-text {
    font-weight: bold;
    align-items: center; /* Vertikale Zentrierung */
    overflow: hidden;
    align-content: center;
    text-anchor: middle;
}

.tchmi-moving-interval-arrow{
    fill:black;
}

.tchmi-moving-interval-counts {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 30px;
    align-items: center; /* Vertikale Zentrierung */
    text-align: center;
    font-weight: bold;
    text-anchor : middle;
}

.tchmi-moving-interval-first-count {
    float: left;
}

.tchmi-moving-interval-last-count {
    float: right;
}