
.tchmi-map-control-name-alias {
    display: none;
}

.tchmi-map-control-template {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.tchmi-map-control-template > .tchmi-analytics-control-template-container {
    padding: 0px;
}

.tchmi-map-control-map-container {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0 0 0 0;
    float: left;
    display: block;
}

.tchmi-map-control-outer-map {
    width: 75%;
    height: 100%;
    margin: 0 0 0 0;
    position: relative;
    transition: all 0.8s ease;
}

.tchmi-map-control-outer-map-mobile {
    width: 50%;
}

.tchmi-map-control-outer-map-expanded {
    width: 100%;
}

.tchmi-map-control-legend-container {
    font-size: 16px;
    overflow:hidden;
}

.tchmi-map-control-map-container-p {
    font-size: 16px;
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    margin: auto;
    visibility: hidden;
    color: none;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
}

@keyframes fadeIn {
    99% {
    visibility: hidden;

}

100% {
    visibility: visible;
    color: red;
}
}
.tchmi-marker-icon {
    margin-top: -52px;
    margin-left: -12.5px;
}

.map-world-extend-button {
    background: url("Icons/WorldExtend2.svg");
    background-color: white;
    background-size: 30px 30px;
    width: 34px;
    height: 34px;
}

.map-marker-extend-button {
    background: url("Icons/MarkerExtend.svg");
    background-color: white;
    background-size: 30px 30px;
    width: 34px;
    height: 34px;
}


.li-map-legend {
    list-style: none;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.ul-map-legend {
    padding: 0px;
    list-style: none;
}

.p-map-legend {
    padding-left: 20px;
    margin-bottom: 10px;
    min-width: 100px;
}

.p-map-legend-highlighted {
    min-width: 100px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-decoration:underline;
    /*background-color: rgb(255,185,15);*/
}

.further-description {
    display: none;
    width: 170px;
    height: 130px;
    padding-top: 0px;
    font-size: 16px;
    z-index: 0;
}

.legendIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    top: 0px;
    border-radius: 5px;
    background-position: center center;
    margin-right: 5px;
}

.textarea-map-legend {
    font-size: 16px;
    overflow: auto;
    width: 170px;
    height: 100px;
    z-index: 1;
    word-wrap: break-word;
}


.highlightMarker {
}

/*#mePin {
    margin-top: 0px;
    margin-left: -2px;
    path{
    fill: #ce7575;
    color: aquamarine;
    }
    .ring_outer {}
    .ring_inner {}
}*/

.leaflet-container .leaflet-marker-pane img {
    height: 40px !important;
    max-width: 100px !important;
}

.tchmi-map-control-legend-expander {
    background-image: url(Icons/icons_next_pressed.svg);
    width: 60px;
    height: 70px;
    margin-left: -20px;
    margin-top: -7px;
    transition: all 0.8s ease;
}

.tchmi-map-control-legend-expander-white {
    background-image: url(Icons/icons_next_active.svg);
}

.tchmi-map-control-legend-container-expander {
    vertical-align: middle;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: scale(0.9, 0.9) translateY(-55%);
    transition: all 0.8s ease;
    opacity: 0.15;
}

.tchmi-map-control-legend-container-expander:hover {
    opacity: 1;
}

.tchmi-map-control-legend-container-expander-expanded {
    transform: scale(-0.9, 0.9) translateY(-55%);
    visibility: visible;
    left: -33px;
}

.tchmi-map-control-legend-container-expander-expanded:hover {
    transform: scale(-1, 1) translateY(-50%);
}

.tchmi-map-control-legend-container-expander-collapsed:hover {
    transform: scale(1) translateY(-50%);
}

.tchmi-map-control-main-legend-container {
    width: 24%;
    height: 100%;
    left: 75%;
    position: absolute;
    top: 0px;
    transition: all 0.8s ease;
}

.tchmi-map-control-main-legend-container-mobile {
    width: 49%;
    left: 50%;
}

.tchmi-map-control-main-legend-container-expanded {
    left: 100%;
    width: 0%;
    visibility: hidden;
}

span.mapNoPosition{
    color:red;
}