.tchmi-am8xxx-template {
    --image-size: 30%;
    --avg-heading-height: 50px;
    --transition-duration: 0.5s;
    --border-style: 3px solid #aaaaaaaa;
    --padding-style: 5px;
}

.tchmi-am8xxx-hide {
    transition: opacity 0.5s;
    opacity: 0;
}

.tchmi-am8xxx-show {
    opacity: 1;
}

.tchmi-am8xxx-avg {
    width: 100%;
    height: calc(100% - var(--avg-heading-height));
    top: var(--avg-heading-height);
}

.tchmi-am8xxx-avg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: var(--image-size) auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    background-image: var(--background-image);
}

.tchmi-am8xxx-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    height: 100%;
}

.tchmi-am8xxx-container-grid-single-child {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.tchmi-am8xxx-average-container {
    display: flex;
    flex-direction: column;
    border: var(--border-style);
    position: relative;
    padding: var(--padding-style);
}

.tchmi-am8xxx-heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: var(--border-style)
}

.tchmi-am8xxx-heading {
    font-weight: 900;
    font-size: 1.5em;
}

.tchmi-am8xxx-heading-pin {
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    margin-left: 5px;
    width: 16px;
    height: 100%;
    -webkit-mask-image: url(/Beckhoff.TwinCAT.HMI.Analytics.Controls/AM8xxx/Icons/pin.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(/Beckhoff.TwinCAT.HMI.Analytics.Controls/AM8xxx/Icons/pin.svg);
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: center;
}

.tchmi-am8xxx-heading-pin:hover {
    opacity: 0.5;
    transform: rotate(40deg);
    cursor: pointer;
}

.tchmi-am8xxx-heading-unpin {
    opacity: 0.5;
    transform: rotate(40deg);
}

.tchmi-am8xxx-heading-unpin:hover {
    opacity: 1;
    transform: rotate(0deg);
    cursor: pointer;
}

.tchmi-am8xxx-average-value {
    font-size: 1.5em;
    flex-grow: 1;
    text-align: right;
}

.tchmi-am8xxx-expander-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 24px;
    margin-top: -24px;
}

.tchmi-am8xxx-expander {
    opacity: 0.5;
    transform: rotate(180deg) scale(1.3);
    cursor: pointer;
    transition-property: transform, opacity;
    transition-duration: var(--transition-duration);
    width: 24px;
    min-height: 24px;
}

.tchmi-am8xxx-expander:hover {
    opacity: 1;
}

.tchmi-am8xxx-expander-collapsed {
    transform: rotate(0deg) scale(1.3);
}

/* Container for the text items */
.tchmi-am8xxx-text-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 20px;
    padding: 0 var(--padding-style);
    transition-property: max-height, height, margin-top;
    transition-duration: var(--transition-duration);
}

.tchmi-am8xxx-text-containers > * {
    border-bottom: var(--border-style);
}

.tchmi-am8xxx-text-containers:empty {
   margin-top: 5px;
   display: none;
}

.tchmi-am8xxx-text-containers-collapsed {
    max-height: 0px !important;
    padding: 0px;
    overflow: hidden;
}

.tchmi-am8xxx-text-heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.tchmi-am8xxx-heading {
    font-weight: bold;
    font-size: 1.5em;
}

.tchmi-am8xxx-value {
    font-size: 1.5em;
}
