.tchmi-thermometer-outer-rect {
    fill: none;
    stroke: #999999;
    stroke-width: 6;
}

.tchmi-thermometer-outer-circle {
    fill: none;
    stroke: #999999;
    stroke-width: 6;
}

.tchmi-thermometer-white-rect {
    fill: #FFFFFF;
}

.tchmi-thermometer-white-circle {
    fill: #FFFFFF;
}

.tchmi-thermometer-inner-rect {
    fill: #acacac;
}

.tchmi-thermometer-inner-circle {
    fill: #3b5e9e;
}

.tchmi-thermometer-temperature-rect {
    fill: #3b5e9e;
}

.tchmi-thermometer-unit-text {
    text-anchor: middle;
    fill: black;
    width:50px;
    font-size: 30px;
    font-weight: bold;
    overflow:hidden;
}

.tchmi-thermometer-scala {
    stroke-width:1.5px;
}

.tchmi-thermometer-sub-scala {
    stroke-width: 1px !important;
}


.tchmi-thermometer-text {
    align-items: flex-start; /* Vertikale Zentrierung */
    max-width: 40px;
    font-size: 9px;
    font-weight: bold;
    overflow: hidden;
   
}

.ticks {
    stroke: black;
}

tchmi-thermometer-sub-scala {
    stroke-width: 2px;
}

.tchmi-thermometer-value-alias, .tchmi-thermometer-value {
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}