/* General theme independed control css. */

.tchmi-bandwidth-classificator-container {
    width: 100%;
    float: left;
    position: relative;
    height:130px;
}

.tchmi-bandwidth-classificator-svg {
    display: block;
    padding-left: 5px;
}
.tchmi-bandwidth-classificator-svg-rectangle{
    stroke-width:4px;
}
.tchmi-bandwidth-classificator-svg-text {
    font-size:14px;
    font-weight:bold;
    text-anchor:middle;
    text-align:center;
}

.tchmi-bandwidth-classificator-svg-text-rect {
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
    text-align: center;
}

.tchmi-bandwidth-classificator-last-event {
    display: block;
    font-size: 12px;
    padding-left: 5px;
    float: left;
    position: relative;
    width: 100%;
}
