.tchmi-ds-overview-record-area {
    position:relative;
    float: left;
    height:100%;
}

.tchmi-ds-overview-record-box {
    width: 370px;
    overflow: auto;
    user-select: none;
    padding: 5px;
    padding-bottom: 25px;
    transform-origin: left top;
}

/* Start, Cur, End Text */
.tchmi-ds-overview-record-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

.tchmi-ds-overview-record-table tr th, .tchmi-ds-overview-record-table tr td {
    border: 1px solid rgba(150,150,150,0.4);
    text-align: left;
    padding: 5px;
}

.tchmi-ds-overview-record-table tr:first-child > td {
    text-align: center;
}

.tchmi-ds-overview-text-disabled {
    opacity: 0.5;
}

.tchmi-ds-overview-record-textarea {
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: inherit;
    text-align: center;
    width: 100%;
}

.tchmi-ds-overview-record-textarea-disabled {
    cursor:default;
    opacity: 0.6;
}

tchmi-ds-overview-record-sel-start, tchmi-ds-overview-record-sel-end {
    cursor:pointer;
}

.tchmi-ds-overview-record-buttons {
    display: block;
    margin-left: 10px;
    clear: both;
}

.tchmi-ds-overview-record-button {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
    width: 60px;
    height: 17px;
    transition-duration: 0.4s;
    text-align: center;
    font-size: 14px;
    padding-top: 1px;
    cursor: pointer;
}

.tchmi-ds-overview-record-button-start {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Images/Play.png");
}

.tchmi-ds-overview-record-button-pause {
    background-image: url("../Images/Pause.png");
}

.tchmi-ds-overview-record-button-start-starting {
    background-color: #d9ff66 !important; /* Green-Yellow */
}

.tchmi-ds-overview-record-button-start-active {
    background-color: #00a000 !important;
}

.tchmi-ds-overview-record-button-cancel {
    height: 19px;
    padding-top: 0px;
    background-image: url("../Images/Stop.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tchmi-ds-overview-record-button-reset {
    float: right;
    background-image: url("../Images/Reset.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tchmi-ds-overview-record-button-reset-disabled {
    background-color: #bbb;
    color: gray;
    cursor: default;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6) !important;
    transform: none !important;
}

.tchmi-ds-overview-record-button:active {
    box-shadow: 0 1px rgba(0,0,0,0.6);
    transform: translateY(2px);
}
