.tchmi-ds-overview-tv-records-area {
    overflow: hidden;
    width: 300px;
    border-right: 1px solid lightgray;
    float: left;
    height: 100%; /* Destroys mobile view, but needed for record scrolling */
}

.tchmi-ds-overview-tv-records {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
}

.tchmi-ds-overview-tv-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
}

.tchmi-ds-overview-tv-caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    overflow: hidden;
    background-color: lightgray;
    width: 100%;
    display: block;
    border-bottom: 1px solid gray;
    padding-left: 5px;
}

.tchmi-ds-overview-tv-arrow {
    display: inline-block;
    margin-right: 6px;
    margin-left: 2px;
    transition-duration: 0.3s;
    transform: scale(1.5);
}

.tchmi-ds-overview-tv-arrow-active {
    transform: scale(1.5) rotate(90deg);
}



.tchmi-ds-overview-tv-record {
    display: inline-block;
    border-left: 4px solid #fff;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

    .tchmi-ds-overview-tv-record:hover:not(.tchmi-ds-overview-tv-record-active) {
        background-clip: padding-box;
        border-left-color: rgba(255,255,255,0);
        background-color: rgba(59,94,158,0.1);
    }

.tchmi-ds-overview-tv-record-active {
    border-left-color: rgba(59,94,158,1) !important;
    background-color: rgba(59,94,158,0.2) !important; /*#3b5e9e;*/
}

.tchmi-ds-overview-tv-record-title {
    font-size: 14px;
    font-weight: bold;
}

.tchmi-ds-overview-tv-record-range {
    font-size: 14px;
}

.tchmi-ds-overview-tv-box {
    overflow: hidden;
}

.tchmi-ds-overview-tv-collapsible-box {
    margin-top: 0;
    transition-duration: 0.3s;
}

.tchmi-ds-overview-tv-collapsible-box-active {
    margin-top: 0px;
}

.tchmi-ds-overview-template hr {
    margin: 0px;
}

.tchmi-ds-overview-refresh-records {
    position: absolute;
    width: 25px;
    height: 25px;
    left:1px;
    bottom:1px;

    cursor:pointer;
    background-image: url("../Images/refresh_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.tchmi-ds-overview-refresh-records-dark-theme {
    background-image: url("../Images/refresh_white.svg");
}

.tchmi-ds-overview-refresh-records:hover {
    background-image: url("../Images/refresh_hover.svg");
}