/* General theme independed control css. */

.TcHmi_Controls_Analytics_DataChart-Template {
    width: 100%;
    height: 100%;
}

.tchmi-data-chart-connection-label {
    width: 10%;
    text-align: left;
    margin: 1%;
    background: none;
    border: none;
}

.tchmi-data-chart-broker-name {
    width: 85%;
}

.tchmi-data-chart-user-credentials {
    width: 21%;
}

.tchmi-data-chart-port {
    width: 14%;
}

.tchmi-data-chart-EnableCertificate {
    margin-left: 2%;
}

.tchmi-data-chart-certificate {
    width: 60%;
}

.tchmi-data-chart-ca-password {
    width: 23%;
}

.tchmi-data-chart-datasource {
    width: 28%;
}

.tchmi-data-chart-datasource-label {
    margin: 1%;
    width: 18%;
    background: none;
    border: none;
}

.tchmi-data-chart-reset-mqtt-button {
    width: 23%;
    margin: 1%;
}

.tchmi-data-chart-check-mqtt-button {
    width: 23%;
    margin: 1%;
}

.tchmi-data-chart-popup {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.tchmi-data-chart-new-broker-popup {
    flex-direction: row;
    width: 500px;
    border-left: 50px;
    border: 1px solid rgba(64,64,64,0);
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    margin: auto;
    min-height: 180px;
    background: white;
}

.dark-mode{
    color: white;
}

.tchmi-analytics-control-chart-from-date-input:hover {
    background-color: #a9a9a9;
    border-radius: 3px;
}

.tchmi-analytics-control-chart-from-custom-input-hidden {
    visibility: hidden;
    display:none;
}

.tchmi-analytics-control-chart-from-custom-input-parent {
    display: flex;
    flex-direction: column;
}

.tchmi-analytics-control-chart-from-custom-input-overlay {
    z-index: 10;
    width: 100%;
    height: 25px;
    position: absolute;
}

@keyframes tchmi-analytics-control-chart-from-custom-input-highlight {
    0% {
        background-color: yellow;
    }

    100% {
        background-color: transparent;
    }
}

.tchmi-analytics-control-chart-from-custom-input-highlight {
    animation: tchmi-analytics-control-chart-from-custom-input-highlight 1s ease-out;
}