.tchmi-datatable-container {
    display: flex;
    width: 200px;
    height: 120px;
    position: relative;
    margin-top: 2px;
    visibility:hidden;
}

.tchmi-datatable-table {
    width: 100%;
    height: 100%;

    table-layout: fixed;
    border-spacing: 0px;
}

.tchmi-datatable-row {
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
}


.tchmi-datatable-cell {
    width: auto;
    border: 1px solid #666;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
}

.tchmi-datatable-row-hover-cell {
    opacity: 0.8;
}

.tchmi-datatable-cell-hover {
    opacity: 1;
    border: 1px solid rgba(59,94,158,0.8);
}

.tchmi-datatable-cell-text-container {
    float:left;
    width: calc(100% - 10px);
}
.tchmi-datatable-cell-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /*Input element*/
    background: inherit;
    border: none;
    font: inherit;
    color: inherit;
    text-align: center;
    padding:0px;
}

.tchmi-datatable-cell-input-changing {
    color: black;
    background: white;
}

.tchmi-datatable-sorting-icon {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 1px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -2px;
    background-position: center;
    opacity: 0.5;
}

.tchmi-datatable-sorting-icon-asc {
    display:block;
}

.tchmi-datatable-sorting-icon-desc {
    display: block;
    transform: translateY(-50%) rotate( 180deg );
}

.tchmi-datatable-cell-header:hover > .tchmi-datatable-sorting-icon {
    opacity: 1;
}

.tchmi-datatable-cell-header {
    position: relative;
    font-weight: bold;
}

.tchmi-datatable-header-separator {
    position: absolute;
    width: 4px;
    height: 100%;
    right: -3px;
    top: 0px;
    z-index: 1;
    cursor: col-resize;
}

.tchmi-datatable-save-button {
    z-index: 102;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 20px;
    top: 5px;
    visibility: hidden;
    /* SVG Mask (colorize icon with background-image */
    background-color: black;
    -webkit-mask-image: url(Images/download.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(Images/download.svg);
    mask-repeat: no-repeat;
    mask-position: center;
}


.tchmi-datatable-save-button:hover {
    cursor: pointer;
    background-color: rgb(71,148,218) !important;
}

.tchmi-datatable-section {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 125px;
    top: 125px;
}

.tchmi-datatable-section .tchmi-datatable-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.tchmi-datatable-section .tchmi-datatable-circle:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #3b5e9e;
    border-radius: 50%;
    animation: lebe 1s infinite linear;
    animation-iteration-count:6;
    animation-fill-mode:forwards;
}


.tchmi-datatable-section .tchmi-datatable-circle0 {
    transform: rotate(36deg);
}

.tchmi-datatable-section .tchmi-datatable-circle1 {
    transform: rotate(72deg);
}

.tchmi-datatable-section .tchmi-datatable-circle2 {
    transform: rotate(108deg);
}

.tchmi-datatable-section .tchmi-datatable-circle3 {
    transform: rotate(144deg);
}

.tchmi-datatable-section .tchmi-datatable-circle4 {
    transform: rotate(180deg);
}

.tchmi-datatable-section .tchmi-datatable-circle5 {
    transform: rotate(216deg);
}

.tchmi-datatable-section .tchmi-datatable-circle6 {
    transform: rotate(252deg);
}

.tchmi-datatable-section .tchmi-datatable-circle7 {
    transform: rotate(288deg);
}

.tchmi-datatable-section .tchmi-datatable-circle8 {
    transform: rotate(324deg);
}

.tchmi-datatable-section .tchmi-datatable-circle9 {
    transform: rotate(360deg);
}


.tchmi-datatable-section .tchmi-datatable-circle1:before {
    animation-delay: -0.9s;
}

.tchmi-datatable-section .tchmi-datatable-circle2:before {
    animation-delay: -0.8s;
}

.tchmi-datatable-section .tchmi-datatable-circle3:before {
    animation-delay: -0.7s;
}

.tchmi-datatable-section .tchmi-datatable-circle4:before {
    animation-delay: -0.6s;
}

.tchmi-datatable-section .tchmi-datatable-circle5:before {
    animation-delay: -0.5s;
}

.tchmi-datatable-section .tchmi-datatable-circle6:before {
    animation-delay: -0.4s;
}

.tchmi-datatable-section .tchmi-datatable-circle7:before {
    animation-delay: -0.3s;
}

.tchmi-datatable-section .tchmi-datatable-circle8:before {
    animation-delay: -0.2s;
}

.tchmi-datatable-section .tchmi-datatable-circle9:before {
    animation-delay: -0.1s;
}


@keyframes lebe {
    0%, 50% {
        opacity: 0
    }

    51% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.tchmi-datatable-no-data-connection {
    animation: cssAnimation 0s 6s forwards;
    visibility: hidden;
}

@keyframes cssAnimation {
    to {
        visibility: visible;
    }
}