.tchmi-histogram-svg {
    position: relative;
    padding-left: 5px;
    margin-top: 5px;
}

.tchmi-histogram-svg-line-coordinate-system {
    stroke-width: 2px;
    stroke-linecap: round;
    fill: none;
    stroke-linejoin: round;
}

.tchmi-histogram-y-axis-label {
    text-align:center;
    font-weight:bold;
}

.tchmi-histogram-svg-bin-rect {
    stroke-width: 0px;
}

.tchmi-histogram-svg-value{
    text-anchor:middle;
    text-align:center;
}

.tchmi-histogram-unit-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 32px;
    height: 18px;
    border: none;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0px 0px;
    text-align: center;
    text-decoration:none;
    font-weight:bold;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgba(64,64,64,0);
    border-radius: 2px;
}