.tchmi-x-t-s-direction-canvas {
    display: block;
}

.tchmi-x-t-s-direction-image {
    height: 125px;
    width: 250px;
    background-image: url("Images/XTSImage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 10px;
    margin-left: 5px;
}


.tchmi-x-t-s-direction-container {
    height: 270px;
    width: 100%;
    float: left;
}
